<h1>A total of <%= @parsed.count %> members live in the <%= @title %></h1>

<% @members.each do |member| %>
  <section class="member">
    <h2 class="name"><%= member.name %></h2>

    <% if member.photo.nil? %>
      <p class="photo">No photo available</p>
    <% else %>
      <p class="photo"><%= image_tag(member.photo) %></p>
    <% end %>

    <p class="affiliation"><%= member.affiliation %></p>

    <div class="allies">
    <% if member.allies.empty? %>
        <p class="allies">Allies: None</p>
      <% else %>
        <ul>
          <% member.allies.each do |ally| %>
            <li><%= ally %></li>
          <% end %>
        </ul>
      <% end %>
    </div>

    
    <div class="enemies">
    <% if member.enemies.empty? %>
        <p class="enemies">Enemies: None</p>
      <% else %>
        <ul>
          <% member.enemies.each do |ally| %>
            <li><%= ally %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </section>
<% end %>